*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(images/gifs-fnaf/ctvd0mmbrti51.png);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
}

input{
    width: 200px;
}

img{
    width: 200px;
    height: 200px;
}