* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-bg: #000;
    --secondary-bg: rgba(0, 0, 0, 0);
    --primary-color: #fff;
    --accent-color: #444;
    --hover-color: #666;
    --green-bar: #2ca02c ;
    --greenluz-bar: #5dff5d;
}

body {
    overflow: hidden;
    font-family: "Minecraftia", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url(/images/0995b85d336e40de987853cd1148e936.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--primary-color);
}

main {
    margin-top: 10px;
    height: 97vh;
    width: 99vw;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.status {
    margin-bottom: 20px;
}

.time-counter {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 15px;
    background-color: var(--secondary-bg);
    border-radius: 5px;
    text-align: end;
}

.power {
    position: absolute;
    left: 10px;
    bottom: 20px;
    margin: 16px ;
    background-color: var(--secondary-bg);
    border-radius: 5px;
    color: var(--primary-color);
}

.usage-bar {
    margin-top: 10px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}
/* quadrado ========================= */
.bars{
    display: flex;

}

.bar .bar2{
    background-color: var(--greenluz-bar);
    width: 13px;
    height: 30px;
}

.bar {
    display: flex;
    gap: 40px;
    width: 20px;
    margin: 3px;
    height: 30px;
    background-color: var(--green-bar);
}
/* quadrado ========================= */
#power-percentage{
    font-size: 2em;
}
#AM{
    font-size: 2.5em;
}
#dias{
    font-size: 1.5em;
    margin-top: 5px;
    margin-right: 10px;
}
.camera-controls button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-70%);
    width: 700px;
    height: 60px;
    border: 2px solid var(--hover-color);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: var(--primary-color);
    font-weight: bold;
}

.camera-controls button:hover {
    background-color: var(--hover-color);
}

#camera {
    margin-top: 50px;
    visibility: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

button {
    width: 150px;
    height: 40px;
    background-color: var(--secondary-bg);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-color);
}
